.btn-reset{
    width: 75px;
    height: 30px;
    border-radius: 15px;
    border: solid 1px $color-white;
    background-color: $color-white-2;
    color: $color-black;
    font-size: rem(12);
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    @include hoverButton();

}
.btn-create{
    width: 200px;
    height: 50px;
    background-color: $color-main;
    border-radius: 12px;
    color: $color-white;
    font-size: rem(18);
    text-transform: uppercase;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.164);
    cursor: pointer;
    @include hoverButton();
    &:disabled {
        background-color: rgb(74, 77, 77);
        transform: none;
        box-shadow: none;
        cursor: not-allowed;
    }
}
.btn-twitter{
    background: $color-twitter;
    border-radius: 3px;
    width: 181px;
    height: 30px;
    color: $color-white;
    font-size: rem(14);
    line-height: 30px;
    @include hoverButton();
}