.get-avatar {
    display: flex;
    margin: 30px 0;
  }
  .get-avatar__trigger {
    width: 140px;
    height: 30px;
    background-color: $color-main;
    color: $color-white;
    border-radius: 3px;
    font-size: rem(14);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.164);
    cursor: pointer;
  }
  /*.get-avatar__upload-field {
    display: none;
  }*/
  .get-avatar__preview {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    border: solid 1px $color-secondary-lighter;
    // background-image: url('../images/profile-picture.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }