.hidden{
    display: none !important;
}

.select-palette1{
    .card__id{
        border-left: solid 5px $color-palette1c2;
        h3{
            color: $color-palette1c1;
        }
    }
    .contact-icon {
        border: solid 2px $color-palette1c3;
        color: $color-palette1c1;
    }
}

/*Formularios*/



.select-palette2{
    .card__id{
        border-left: solid 5px $color-palette2c2;
        h3{
            color: $color-palette2c1;
        }
    }
    .contact-icon {
        border: solid 2px $color-palette2c3;
        color: $color-palette2c1;
    }
}

.select-palette3{
    .card__id{
        border-left: solid 5px $color-palette3c2;
        h3{
            color: $color-palette3c1;
        }
    }
    .contact-icon {
        border: solid 2px $color-palette3c3;
        color: $color-palette3c1;
    }
}

.rotate{
    transform: rotate(180deg);
}